<div class="post">
  <h1 class="text-center"><%= @topic.title %></h>
  <h1 class="text-center">Posts</h1>

  <section class="posts-container">

    <% @posts.each do |post| %>
      <div class="post-title text-center">
        <h3><%= post.title %></h3>
        <h5><%= post.body %></h5>

      </div>
    <% end %>

  </section>
  <section class="text-center">
    <%= button_to "Create new post", new_topic_post_path, :method => :get %>
    <%= button_to "Edit Topic", edit_topic_path(@topic), :method => :get %>
    <%= button_to "Delete Topic", topic_path(@topic), method: :delete, data: { confirm: "Delete? The posts will also be deleted." } %>
  </section>
</div>
