<div class="background">
  <div class="content">
    <h1> Hello World </h1>
  </div>
</div>

<div class="background2">
  <div class="content" >
    <h1> Hello adik manis </h1>
  </div>
</div>


<section class="features-container">
  <h1 class="feature-title text-center">
    Features
  </h1>
</section>


<section class="features">

    <div class="feature text-center">
      <i class="fa fa-bicycle fa-4x"></i>

    <h5> Fostering communities </h5>
    <p>The picture is a bike</p>
    </div>
    <div class="feature text-center">
      <i class="fa fa-camera-retro fa-4x"></i>
    <h5> Fostering communities </h5>
      <p> My name is Moi. I develop RoR webapp for aliving</p>
    </div>
    <div class="feature text-center">
      <i class="fa fa-bomb fa-4x"></i>
    <h5> Fostering communities </h5>
    </div>
    <div class="feature text-center">
      <%= fa_icon 'globe 4x' %>
    <h5> Fostering communities </h5>
    </div>
</section>


  <div class="grid">
    <div class="column-1">
      <div class="invisible-layout">
        <div class="content-red">
          <h3>I'm a pair of shoes!</h3>
        </div>
      </div>
      <%= image_tag "shoe.jpg", class: "img-responsive"%>
    </div>
    <div class="column-1">
      <div class="invisible-layout">
        <div class="content-red">
          <h3>I'm a pineapple!</h3>
        </div>
      </div>
      <%= image_tag "pineapple.jpg", class: "img-responsive"%>
    </div>
    <div class="column-1">
      <div class="invisible-layout">
        <div class="content-green">
          <h3>I'm a watch!</h3>
        </div>
      </div>
      <%= image_tag "smartwatch.jpg", class: "img-responsive"%>
    </div>
    <div class="column-1">
      <div class="invisible-layout">
        <div class="content-green">
          <h3>I'm a green rose!</h3>
        </div>
      </div>
      <%= image_tag "whiterose.jpg", class: "img-responsive"%>
    </div>
  </div>

  <section class="features-container">
    <h1 class="feature-title text-center">
      Contact me!
    </h1>
  </section>

  <hr class="short-underline">

<section class="features">

      <p class="contact-me">I live in the wonderful country of Malaysia, famous for its generosity and donation. I specifically live in semenyih, selangor. But please dont come to my house</p>

      <div class="feature text-center">
        <i class="fa fa-phone fa-4x"></i>
          <h4> 013-5932043 </h4>
      </div>
      <div class="feature text-center">
        <i class="fa fa-envelope fa-4x"></i>
          <h4> abdulmuhaimin.work@gmail.com </h4>
      </div>
    </section>
