<div class="topic">
  <h1 class="text-center"> Topics </h1>

  <section class="topics-big">


    <% @topics.each do |topic| %>
      <div class="topic-title text-center">
        <h3><%= topic.title %></h3>
        <h5><%= topic.description %></h5>
        <%= link_to topic.title, topic_posts_path(topic) %>
        <%= button_to "Edit Topic", edit_topic_path(topic), :method => :get %>
        <%= button_to "Delete Topic", topic_path(topic), method: :delete, data: { confirm: "Delete? The posts will also be deleted." } %>  
      </div>
    <% end %>

  </section>
  <section class="topics-big">
    <%= button_to "new", new_topic_path, :method => :get %>
  </section>
</div>
