<div class="topic">
  <h1 class="page-title text-center"> Topics </h1>

  <section class="topics-big">


    <% @topics.each do |topic| %>
      <div class="topic-title text-center">
        <h3><%= topic.title %></h3>
        <h5><%= topic.description %></h5>
        <%= link_to topic.title, topic_path(topic) %>
      </div>
    <% end %>

  </section>

  <%= button_to "new", new_topic_path, :class => "button", :method => :get %>
</div>

<%= form_for(@topic, url: topics_path, html: { id: "topic-create-form" }) do |f| %>
  <h1 class="text-center">
    Create Topic
  </h1>

  <div class="form-group">
    <h4> <%= f.label :title_field, "Title" %> </h4>
    <%= f.text_field :title, required: true, id: "topic_title_field", class: 'form-control' %>
  </div>

  <div class="form-group">
    <h4> <%= f.label :text_field, "Description" %> </h4>
    <%= f.text_field :description, id: "topic_description_field", class: 'form-control' %>
  </div>

  <div class="form-group text-center">
    <%= f.submit "Create Topic", class: "btn btn-success btn-lg" %>
  </div>
<% end %>
