<%= form_for(@user, url: user_path(@user), html: { id: "user-update-form" }) do |f| %>
  <h1 class="text-center">
    Update User
  </h1>

  <div class="form-group">
      <h4 class="text-center"> User Image </h4>
      <div id="preview-image">
        <% if @user.image? %>
          <%= image_tag @user.image, class: "img-settings img-responsive center-block" %>
        <% end %>
        <%= f.file_field :image, id: "user_image_field", class: 'form-control image-uploader' %>
      </div>
  </div>

  <%= link_to "want to reset password?", new_password_reset_path %>

  <div class="form-group text-center">
    <%= f.submit "Update profile", class: "btn btn-success btn-lg" %>
  </div>


<% end %>
